/* Add here all your css styles (customizations) */
/* font setting 
'Nanum Gothic', sans-serif;
*/
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);'
ul.nav li a {
  font-family: ''Hanna', sans-serif';'
}
ul.nav li a {
  font-family: ''Hanna', sans-serif';'
}

*{
  font-family: ''Hanna', sans-serif';'
}
*.grid-boxes-caption{
	font-family: ''Hanna', sans-serif';'
	
}


body h1:hover{
  color:#79d5b3;
  
}

body h1,h2,h3,h4,h5{
  font-family: ''Hanna', sans-serif';'
  
}
